<!doctype html>
<html>
<head>
  <title>Scholarium</title>

  <script type="text/javascript" src="app://root/lib/jquery.min.js"></script>
  <script type="text/javascript" src="app://root/lib/md5.js"></script>
  <script type="text/javascript" src="app://root/lib/vis.min.js"></script>

  <script type="text/javascript" src="app://root/js/config.js"></script>
  <script type="text/javascript" src="app://root/js/crawler.js"></script>
  <script type="text/javascript" src="app://root/js/model/map.js"></script>
  <script type="text/javascript" src="app://root/js/parsers/generic_parser.js"></script>
  <script type="text/javascript" src="app://root/js/parsers/scopus_parser.js"></script>
  <script type="text/javascript" src="app://root/js/parsers/web_of_science_parser.js"></script>
  <script type="text/javascript" src="app://root/js/views/main_menu.js"></script>
  <script type="text/javascript" src="app://root/js/views/show_map.js"></script>

  <link rel="stylesheet" type="text/css" href="app://root/css/main.css">
  <link rel="stylesheet" type="text/css" href="app://root/css/main_menu.css">
</head>

<body>
  <div id="main"></div>
  <script type="text/javascript" src="app://root/js/main.js"></script>
</body>
</html>
